name: Build

on:
  push:
    branches: [ master ]

jobs:
  build:
    strategy:
      matrix:
        node-version: [14.x]
        runtime: [ osx-x64 ]
        include:

        - runtime: osx-x64
          os: macOS-latest

    runs-on: ${{ matrix.os }}

    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v2
      with:
        node-version: ${{ matrix.node-version }}
        cache: "yarn"
    - run: yarn
    - run: yarn get-schema
    - run: yarn run build
    - name: Upload Mac .dmg Artifact
      uses: actions/upload-artifact@v3
      if: startsWith(matrix.os, 'macos')
      with:
        name: Yuna.dmg
        path: dist_electron/Yuna-?.dmg
